.header {
  background-color: var(--color_black);
  background: linear-gradient(
    90deg,
    var(--color_dark_blue1),
    var(--color_dark_blue2)
  );
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin: 55px auto 0 auto; */
}

.header__info {
  /* background-color: rgb(30, 62, 90); */
  width: 50%;
  height: 100%;
  padding-top: 4rem;
}

.header__info h1 {
  font-size: 32px;
  font-weight: 700;
}

.header__info h2 {
  font-size: 24px;
  font-weight: 700;
}

.textAnimation1 {
  background: linear-gradient(90deg, #9df3d1, #81d0e8, #71bcf5);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}

.textAnimation2 {
  background: linear-gradient(90deg, #c54eaa, #ab57b8, #8166cd, #457bec);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}

.header__pic {
  background-image: image("../../public/banner.jpeg");
}

.header__pic img {
  border-radius: 20%;
  object-fit: cover;
}

@media screen and (min-width: 660px) {
  .header {
    padding: 1rem;
    display: flex;
    height: 100vh;
    /* margin: 2px auto; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color_black);
  }

  .header__info {
    align-self: center;
    /* background-color: #1d1d1d; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__info h1 {
    font-size: 42px;
    font-weight: 700;
  }

  .header__info h2 {
    font-size: 42px;
    font-weight: 700;
  }
}
