.project_list {
  background-color: var(--color_black);
  width: 100%;
  /* margin: 2px auto; */
  padding: 1rem 0.5rem;
}

.project_list h2 {
  text-align: center;
  margin: 10px auto;
  font-size: xx-large;
  padding: 18px 0;
}
