.projectTab {
  width: 100%;
  background-color: var(--color_dark_blue2);

  /* border: 2px solid white; */
}

.projectTab h2 {
  text-align: center;
  padding: 12px;
  background-color: var(--color_dark_blue2);
}

.tab_container {
  background-color: var(--color_dark_blue2);
  padding-top: 20px;
  /* background-color: red; */

  /* margin: 2px auto; */
}

.tabBtn {
  background-color: var(color_dark_blue1);
  /* border-top-left-radius: 16px; */
  /* border-bottom-right-radius: 16px; */
  padding: 10px;
  margin-right: 50px;
}
