:root {
  --primary-color: #082032;
  --secondary-color: #2c394b;
  --light-color: #334756;
  --orange: #ff4c29;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  /* color: white; */
}

.bg-light-gray {
  background-color: var(--secondary-color);
}
.bg-lighter-gray {
  background-color: var(--light-color);
}
.bg-orange {
  background-color: var(--orange);
}

header {
  /* background: linear-gradient(
      to right,
      rgba(255, 255, 244, 0.1),
      rgba(255, 255, 244, 0.1)
    ),
    url("images/darkbg_3d.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  height: 100vh;
  width: 100vw;
}

a {
  /* text-decoration: none; */
  color: unset;
}
a:hover {
  color: var(--orange);
}

.project_card:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
}
